asgiref==3.6.0
async-timeout==4.0.2
coverage==7.1.0
Django==4.1.5
django-browser-reload==1.7.0
django-environ==0.9.0
django-query-profiler==0.9
django-settings-export==1.2.1
django_debug_toolbar==3.8.1
gunicorn==20.1.0
isort==5.12.0
mmh3==3.1.0
mo-dots==9.365.23080
mo-future==7.340.23006
mo-imports==7.365.23080
mo-parsing==8.366.23085
mo-sql-parsing==9.366.23085
Pillow==9.4.0
psycopg2==2.9.5
Pygments==2.14.0
redgreenunittest==0.1.1
redis==4.5.4
sqlparse==0.4.3
whitenoise==6.3.0
