<section class="content main-portal">
  <h2>Welcome to the Main Portal</h2>
  <strong>Choose a game!</strong>

  <a href="<%= njt_splash_url %>">
    <%= image_tag "njtlogo.png", id: "njt"%>
  </a>
  <a href="#">
    <%= image_tag "hexlogo.png", id: "hex" %>
  </a>

  <a href="#">
    <%= image_tag "blindlogo.png", id: "blind" %>
  </a>

</section>
