<section class="content front-page">
  <p>Awesome, you're here!</p>
  <p>Let's play some games!</p>

  <nav>
    <ul class="group">
      <li><%= link_to "Sign Up", new_user_registration_url %></li>
      <li><%= link_to "Log In", new_user_session_url %></li>
      <li><%= button_to "Play as Guest", guest_url, method: :post, class: "guest" %></li>
    </ul>
  </nav>
</section>
