<% comments.forEach(function(comment){ %>
  <li>
    <strong><time><%= comment.timestamp %></time>
      <% if (comment.author.username) { %>
        <%= comment.author.username + ":" %>
      <% } %>
    </strong>
    <p class="display"><%= comment.body %></p>
  </li>
<% }) %>
