<% if (discard.length > 0){ %>
  <div class="card" data-info=
    "<%= discard.slice(-1)[0].value + "-" + discard.slice(-1)[0].dir %>">
  </div>
<% } else { %>
  <div style="height:142px;"></div>
<% } %>

<strong>
  <%= "Discard (" + discard.length + ")" %>
</strong>