<ul class="info '<%= color %>'">
  <li class="group">
    <div class="group"><img src="<%%= avatarUrl%>"></div>
    <strong><%%= username %></strong>
  </li>
  <li><%= pluralize(<%%= playerCards.length %>, "card")%></li>
  <li><%= pluralize(<%%= playerTokens.length %>, "token")%></li>
</ul>