<% players.forEach(function(player, c){ %>
  <% var tanks = player.tanks %>
  <% var color = (c == 0 ? "white" : "black") %>
  <% var offset = (color == "white" ? "-150px;" : "-200px;") %>

  <% for (var i = 1; i <=3; i++) { %>
    <% var j = (color == "white" ? i : 4-i) %>
    <% var tank = _.findWhere(tanks, {position: j}) %>
    <% var alpha %>
    <li class="space" id="<%= color + "-" + j %>">
      <% if (tank) { %>
        <% if (tank.fake || (tanks.length > 1 &&
                color != playerColor && phase != "game_over")) { %>
            <% alpha = "0.5;" %>
        <% } else { %>
            <% alpha = "1;" %>
        <% } %>
      <% } else { %>
        <% alpha = "0;" %>
      <% } %>
      <div class="tank" 
        style="<%= "background-position-y:" + offset + "opacity:" + alpha %>">
      </div>
    </li>
  <% } %>
<% }) %>