<ul class="spaces group">
  <li class="tank" id="white-1"></li>
  <li class="tank" id="white-2"></li>
  <li class="tank" id="white-3"></li>
  <li class="tank" id="black-3"></li>
  <li class="tank" id="black-2"></li>
  <li class="tank" id="black-1"></li>
</ul>