/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "colors";

html, body, header, footer, section, article, strong, figure, aside,
  time, form, div, nav, em, h1, h2, h3, h4, h5, ul, li, p, a {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font-family: sans-serif;
  color: inherit;
}

body {
  background: $body;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: table;
}

.hidden {
  visibility: hidden;
}

.total-wrap {
  width: 1340px;
  margin: 50px auto;
  border: 5px solid $accent;
  background: $ground;
}

input[type="submit"], select, button {
  background-color: $button;
  color: $light;
  border-radius: 10px;
  border: 2px solid $accent;
  border: {
    right: 3px solid darken($accent, 20%);
    bottom: 3px solid darken($accent, 20%);
  }
  cursor: pointer;

  &:hover{
    background-color: $ground;
    color: $dark;
  }
}

textarea {
  max-width: 600px
}


