/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body, header, footer, strong,
  div, form, nav, em, h1, h2, h3, h4, ul, li, p, a {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font-family: sans-serif;
  color: inherit;
}

body {
  background: #fff;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: table;
}

.total-wrap {
  width: 1140px;
  margin: 50px auto;
  border: 5px solid #600;
  background: #ccc;
}

.layout a {
  text-decoration: none;
}

.layout a:hover {
  text-decoration: underline;
}

header.layout {
  border-bottom: 5px solid #600;
}

header.layout ul {
  float: right;
}

header.layout li {
  float: left;
}

header.layout h1 {
  margin-top: -10px;
  margin-left: 10px;
  font-size: 250%;
  font-weight: bold;
  float: left;
  color: #600;
}

header.layout > .top-line {
  margin: 5px 10px 30px 10px;
}

header.layout nav a {
  position: relative;
  display: block;
  text-align: center;
  padding: 10px 10px;
  border: 2px solid #600;
  border-bottom: 0;
  border-top-left-radius: 7px;
/*  border-top-right-radius: 7px;*/
}

header.layout nav a:hover {
  background: #600;
  color: #fff;
  text-decoration: none;
}

header.layout nav a small {
  position: absolute;
  display: block;
  width: 100%;
  top: 13px;
  left: 0;
  font-size: 11px;
}

header.layout nav a:hover .non-hover,
header.layout nav a .hover {
  visibility: hidden;
}

header.layout nav a .non-hover,
header.layout nav a:hover .hover {
  visibility: visible;
}

header.layout form.log-in,
header.layout .logged-in {
  float: right;
}

header.layout .logged-in > span {
  display: block;
  float: left;
}

header.layout strong {
  color: #600;
  font-size: 1.5em;
}

header.layout form.log-out {
  float: left;
}

header.layout .button {
  margin: 0 10px;
  border: 1px solid #ddd;
  border-right-width: 2px;
  border-bottom-width: 2px;
  background: #eee;
  display: block;
  width: 50px;
  height: 30px;
  cursor: pointer;
}

header.layout .button.log-out {
  width: 70px;
}

header.layout form.log-in > .username-box,
header.layout form.log-in > .password-box,
header.layout form.log-in .button {
  text-align: right;
  float: left;
}

header.layout form.log-in > .password-box > a {
  font-size:13px;
  text-decoration: underline;
}

header.layout form.log-in > .username-box > .remember-me {
  font-size:13px;
}

footer.layout {
  border-top: 5px solid #600;
}

footer.layout small {
  display: block;
  margin: 5px 10px;
}

footer.layout small.copy {
  float: left;
}

footer.layout small.feedback {
  float: right;
}


