// Place all the styles related to the Splash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

section.devise {
  width: 450px;
  margin: 50px auto;
  text-align: center;
  font-size: 16px;
  color: $dark;

  h2 {
    font-size: 200%;
    margin-bottom: 10px;
    color: $accent;
  }
}