@import "colors";
@import "njt";

section.njt.game {
  .game-field {
    float: left;
    width: 760px;

    .damage_token {
      width: 50px;
      height: 44px;
      overflow: hidden;
      background-image: url(dmgsprite.png);
      margin: 2px;

      &[data-fd="true"] {
        background-position: 0 0 !important;
      }

      &[data-value="1"] {
        background-position: 0 -44px;
      }
      &[data-value="2"] {
        background-position: 0 -88px;
      }
      &[data-value="3"] {
        background-position: 0 -132px;
      }

    }

    .card {
      width: 100px;
      height: 142px;
      overflow: hidden;
      background-image: url(cardsprite.png);
      -webkit-transition: -webkit-transform 0.25s ease-out;

      &.shot-down {
        -webkit-transform: rotate(180deg);
      }

      &.feint {
        opacity: 0.5;
      }

      &[data-fd="true"] {
        background-position: 0 0 !important;
      }

      &[data-info="1-back"] {
        background-position: 0 -142px;
      }
      &[data-info="2-back"] {
        background-position: 0 -284px;
      }
      &[data-info="3-back"] {
        background-position: 0 -426px;
      }
      &[data-info="1-forward"] {
        background-position: 0 -568px;
      }
      &[data-info="2-forward"] {
        background-position: 0 -710px;
      }
      &[data-info="3-forward"] {
        background-position: 0 -852px;
      }

    }

    header {
      margin: 25px auto;
      width: 670px;
      text-align: center;

      .phase {
        display: block;
        width: 320px;
        float: left;
        text-align: center;

        h3 {
          @include stencil;
          display: inline;
          font-size: 250%;
        }
      }
      .button-top {
        margin-top: 15px;
        float: left;
      }

      figure.player-box {
        width: 150px;
        float: left;

        ul.info {
          width: 80px;

          &.black {
            float: left;
            text-align: left;
          }
          &.white {
            float:right;
            text-align: right;

            strong, img{
              float: right;
            }
          }

          li:first-child{
            margin-bottom: 10px;
          }
        }

        ul.tokens {
          position: relative;
          height: 132px;
          z-index: 1;
          &.black {
            float: left;
          }
          &.white {
            float:right;
          }
          li {
            margin-top: -20px;
            &.accordion {
              margin-top: -35px;
            }
            &:first-child{
             margin-top: 2px;
            }
          }
        }
      }
    }

    section.board {
      width: 600px;
      margin: auto;

      strong {
        display: block;
      }

      figure.board {
        position: relative;

        img {
          position: absolute;
          width: 600px;
          height: 150px;
        }

        .tank {
          float: left;
          width: 79px;
          height: 150px;
          margin: 0px 5.5px;

          &:first-child {
            margin-left: 0;
          }

          &:nth-child(3) {
            margin-right: 75px;
          }

          &:last-child {
            margin-right: 0;
          }

          img {
            margin-top: 102px;
            width: 80px;
            height: auto;
          }
        }
      }
    }

    section.main-cards {
      width: 720px;
      margin: 25px auto;

      .deck {
        position: relative;
        float: left;
        width: 100px;
        height: 142px;

        .card {
          position: absolute;
        }

        &.phased {
          box-shadow: 0px 0px 40px #0ff;
        }

      }
      .undo {
        float: left;
        margin: 50px 20px 0px 25px;
      }
      .active {
        float: left;

        margin: 25px 25px;

        &#active-1 {
          margin-right: 60px;
        }

        nav {
          margin-bottom: 5px;

          button {
            width: 30px;
            height: 50px;
            border: 2px solid $accent;
            border: {
              right: 3px solid darken($accent, 20%);
              bottom: 3px solid darken($accent, 20%);
            }
            border-radius: 10px;

            &.chosen {
              background-color: $ground;
              cursor: default;
            }

            &.feint {
              background-image: url(smoke.png);
              margin-right: 35px;
            }

            &.move {
              background-repeat: no-repeat;

              &.up {
                background: {
                  image: url(up.png);
                  position: 0px 3px;
                }
              }

              &.down {
                background: {
                  image: url(down.png);
                  position: 0px 3px;
                }
              }
            }
          }
        }

        #play-1, #play-2 {
          width: 100px;
          height: 142px;
          overflow: hidden;

          &.phased {
            box-shadow: 0px 0px 40px #ff0;
          }
        }
        #play-2 {
          &.phased {
            box-shadow: 0px 0px 40px #f00;
          }
        }
      }

      button[disabled] {
        background-color: $ground;
        color: lighten($ground, 10%);
        cursor: default;
      }

      .confirm-warning {
        float: left;
        margin: 50px 30px 0px 0px;

        .warning {
          width: 50px;
          height: 59px;

          margin: auto;
          background: {
            image: url(overheating.png);
          }

          &.fake {
            background-image: url(smokeheating.png);
          }
        }
      }
      .discard {
        float: left;
        width: 100px;
        height: 142px;

        &.phased {
          box-shadow: 0px 0px 40px #333;
        }
      }
    }

    ul.hand {
      width: 720px;
      height: 142px;
      margin: 25px auto;

      &.phased {
        box-shadow: 0px 0px 40px #fff;

        &.black {
          box-shadow: 0px 0px 40px #000;
        }
      }

      li {
        float: left;
        margin: 0px 12px;
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }

    section.game-over {
      float: left;
      width: 320px;
      text-align: center;

      nav {
        width: 184px;
        margin: auto;

        button, .button_to {
          display: block;
          float: left;
          margin-top: 15px;
        }

        button {
          margin-right: 20px;
        }
        input {
          margin: 0;
        }
      }
    }
  }
  aside {
    float: right;
    border-bottom: 3px solid $body;

    h3 {
      @include stencil;
      text-align: center;
      font-size: 150%;
    }

    .chat {
      width: 197px;
      height: 520px;
      font-size: 13px;
      border-top: 3px solid $body;
      border-left: 3px solid $body;
      display: block;
      overflow: {
        x: hidden;
        y: auto;
      }

      strong, p {
        display: inline;
      }

      li {
        margin:0px 1px 5px 1px;
      }
    }

    .add-comment {
      border-left: 3px solid $body;

      label {
        display: none;
      }

      textarea {
        resize: none;
        background-color: lighten($ground, 10%);
        width: 140px;
        float: left;
      }

      input[type="submit"] {
        float: right;
        margin-top: 10px;
      }
    }
  }
}