@import "colors";

.layout {
  background: darken($ground, 10%);

  a {
  text-decoration: none;

    &:hover {
    text-decoration: underline;
    }
  }
}

header.layout {

  box-shadow: 0px 5px 5px darken($ground, 20%);
  margin-bottom: 10px;
  figure.logo {
    float: left;

    img.logo {
      width: 400px;
      height: auto;
    }

    h1 {
      display: none;
      margin-left: 10px;
      line-height: 0px;
      font-size: 400%;
      font-weight: bold;
      float: left;
      color: $accent;

      a:hover {
        text-decoration: none;
      }
    }
  }

  section.info {
    float: right;

    .logged-in {
      float: right;

      aside {
        display: block;
        float: left;
        margin: 15px 5px;

        strong {
          font-size: 150%;
        }
      }

      img {
        float: left;
        margin: 5px;
      }

      .log-out {
        float: left;
        margin: 8px 5px;
      }

    }

    .button {
      margin: 0 10px;
      display: block;
      width: 50px;
      height: 30px;

      &.log-out {
        width: 70px;
      }
    }

    form.log-out {
      float: left;
    }

    form.log-in {
      margin-bottom: 23px;
      float: right;

      .username-box, .password-box, .button {
        text-align: right;
        float: left;

        a {
          font-size:13px;
          text-decoration: underline;
        }

        .remember-me {
          font-size:13px;
        }
      }
    }
  }

  nav {

    ul {
      float: right;

      li {
        float: left;

        a {
          float: right;
          position: relative;
          display: block;
          text-align: center;
          padding: 10px 10px;
          border: 2px solid $accent;
          border-top-left-radius: 7px;

          small {
            position: absolute;
            display: block;
            width: 100%;
            top: 13px;
            left: 0;
            font-size: 11px;
          }

          .game {
            visibility: visible;
          }

          .message {
            visibility: hidden;
          }

          &:hover {
            background: $accent;
            color: $light;
            text-decoration: none;

            .game {
              visibility: hidden;
            }

            .message {
              visibility: visible;
            }
          }
        }
      }
    }
  }
}

footer.layout {
  box-shadow: 0px -1px 5px darken($ground, 20%);
  margin-top: 10px;
  small {
    display: block;
    margin: 5px 10px;

    &.copy {
        float: left;
    }

    &.feedback {
        float: right;
    }
  }
}

