@import "colors";
@import url(http://fonts.googleapis.com/css?family=Stardos+Stencil:400,700);

@mixin stencil {
  font-family: 'Stardos Stencil', Impact, serif;
  text-transform: uppercase;
  color: $dark;
  font-weight: bold;
}

section.njt.splash {
  width: 900px;
  margin: 50px auto;
  text-align: left;

    h2 {
      font-size: 200%;
      color: $accent;
    }

    img {
      display: block;
      width: 600px;
      height: auto;
      margin: 0px 30px;
      float: left;
    }

    nav.game {
      margin: {
        top: 60px;
        left: 30px;
      }

      a, input[type="submit"] {
        @include stencil;
        display: block;
        float: left;
        background: $ground;
        border: 3px solid $accent;
        border-radius: 5px;
        padding: 5px 10px;
        margin-right: 50px;
        font-size: 170%;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          background: $accent;
          color: $light;
          border-color: $light;
        }
      }
    }

    ul {
      width: 200px;
      float: left;

      li {
        a {
          @include stencil;
          display: block;
          font-size: 250%;
          text-decoration: none;
          padding: 10px 10px;

          &:hover {
            color: $light;
          }
        }

        &:first-child a {
          padding-top: 0;
        }

        &:last-child a {
          padding-bottom: 0;
        }
      }
    }

}

section.njt.rules {
  width: 900px;
  margin: 50px auto;
  text-align: left;

  header {
  text-align: center;

    h2 {
      @include stencil;
      font-size: 300%;
      display: inline;
    }

    h3 {
      font-size: 200%;
      width: 300px;
      margin: auto;
    }
  }

  aside {
    display: block;
    float: left;
    margin-right: 40px;

    a.logo {
      display: block;
      width: 160px;
    }

    img {
      width: 100%;
      height: auto;
    }
    nav.game {

      a, input[type="submit"] {
        @include stencil;
        text-align: center;
        display: block;
        background: $ground;
        border: 3px solid $accent;
        border-radius: 5px;
        padding: 2px 5px;
        width: 130px;
        margin: 30px 0px;
        font-size: 130%;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          background: $accent;
          color: $light;
          border-color: $light;
        }
      }
    }
  }

  article {
    padding-left: 10px;
    border-left: 5px dashed $accent;
    float: left;
    height: 600px;
    position: relative;

    ul {
      width: 550px;
      margin: 50px auto;
      list-style-type: disc;
      list-style-position: inside;

      li {
        margin: 20px;

        p {
          font-size: 130%;
          padding-left: 50px;
          text-indent: -50px;

        }
      }
    }

    nav.page {
      width: 300px;
      position: absolute;
      top: 575px;
      left: 120px;

      a {
        text-decoration: none;
        font-size: 130%;
        font-weight: bold;
        display: block;

        &:hover {
          text-decoration: underline;
        }

        &:first-child {
          float: left;
        }

        &:last-child {
          float: right;
        }

        &.hidden {
          display: none;
        }
      }
    }
  }
}
