@import "colors";

@import url(http://fonts.googleapis.com/css?family=Stardos+Stencil:400,700);

@mixin stencil {
  font-family: 'Stardos Stencil', Impact, serif;
  text-transform: uppercase;
  color: $dark;
  font-weight: bold;
}

section.njt.splash {
  width: 900px;
  margin: 50px auto;
  text-align: left;

    h2 {
      font-size: 200%;
      color: $accent;
    }

    img {
      display: block;
      width: 600px;
      height: auto;
      margin: 0px 30px;
      float: left;
    }

    nav.game {
      margin: {
        top: 60px;
        left: 30px;
      }

      a, input[type="submit"] {
        @include stencil;
        display: block;
        float: left;
        background: $ground;
        border: 3px solid $accent;
        border-radius: 5px;
        padding: 5px 10px;
        margin-right: 20px;
        font-size: 170%;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          background: $accent;
          color: $light;
          border-color: $light;
        }
      }
    }

    ul {
      width: 200px;
      float: left;

      li {
        a {
          @include stencil;
          display: block;
          font-size: 250%;
          text-decoration: none;
          padding: 10px 10px;

          &:hover {
            color: $light;
          }
        }

        &:first-child a {
          padding-top: 0;
        }

        &:last-child a {
          padding-bottom: 0;
        }
      }
    }

}