// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog img {
  width: auto;
  height: 100%;
  display: inline-block;
}

.blog > header {
  width: 600px;
  margin: auto;
  text-align: center;
  border-bottom: 10px solid #600;
  padding-bottom: 50px;
}

.blog a {
  text-decoration: none;
}

.blog > .posts,
.blog > .post {
  max-width: 700px;
  margin: 50px auto;
}

.blog .post p {
  margin: 1em 0;
}
.blog header h2 {
  font-size: 300%;
  font-family: "comic sans MS";
}

.blog > .posts > .post {
  border-bottom: 10px solid #600;
  padding: 20px 0px;
}

.post h3 {
  font-size: 200%;
  font-weight: bold;
  color: #600;
}

.post > a.title {

}

.post > p {
  font-size: 20px;
}

.post .title {
  text-align: center;
}

.post > header {

}

.post > figure {
  display: block;
  text-align: center;
  height: 300px;
  margin: 20px 0px;
  overflow: hidden;
}