// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.blog {

  a {
    text-decoration: none;
  }

  img {
    width: auto;
    height: 100%;
    display: inline-block;
  }

  header.blog-name {
    width: 600px;
    margin: auto;
    text-align: center;

    h2 a {
      font-size: 300%;
      color: $accent;
    }
  }

  .posts, >.post {
    max-width: 700px;
    margin: 50px auto;
    border-top: 10px solid $accent;
  }

  .post {
    border-bottom: 10px solid $accent;
    padding: 50px 0px;

    p {
      margin: 1em 0;
      font-size: 20px;
    }

    h3 {
      font-size: 200%;
      font-weight: bold;
      color: $accent;
    }

    .title {
      text-align: center;
    }

    h4 {
      margin-top: 10px;
      font-weight: bold;
      color: $accent;
    }

    figure {
      display: block;
      text-align: center;
      height: 300px;
      margin: 20px 0px;
      overflow: hidden;
    }
  }
}