<section class="content new-game">
  <h3>Quick Play</h3>
  <%= button_to "Enter Queue", %>

  <h4>...or play against a friend!</h4>
  <em>share this url: </em>

      <li></li>
    </ul>
  </nav>
</section>