<section class="content new-game">
  <% if @game.queue %>
    <h4>Finding you an opponent... sit tight.</h4>
  <% else %>
    <h4>Invite your friend!</h4>
    <em>share this url: <%= njt_game_url(@game) %></em>
  <% end %>
</section>

<script>
$($(window).on("unload", function(){
  $.ajax({
    url: "<%= njt_game_url(@game)%>",
    dataType: "json",
    type: "DELETE"
  });
}))

  window.setInterval(function(){
    $.getJSON("<%= njt_game_url(@game)%>", function(gameData){
      if (gameData.players.length == 2) {
        $.get("<%= njt_game_url(@game)%>");
      }
    });
  }, 5000);)
</script>