<section class="content new-game">
  <h4>Finding you an opponent... sit tight.</h4>
</section>

<script>
$(function(){
  $(window).on("unload", function(){
    $.ajax({
      url: "<%= njt_game_url(@game)%>",
      dataType: "json",
      type: "DELETE"
    });
  });

  window.setInterval(function(){
    console.log("INTERVAL");
    $.getJSON("<%= njt_game_url(@game)%>", function(gameData){
      console.log(gameData);
      if (gameData.players.length == 2) {
        window.location = "<%= njt_game_url(@game)%>";
      }
    });
  }, 5000);
});
</script>