<section class="content new-game">
  <h4>Finding you an opponent... sit tight.</h4>
</section>

<script>
$(function(){
  skipDeleteCall = false

  $(window).on("unload", function(){
    if (!skipDeleteCall){
      $.ajax({
        async : false,
        url: "<%= njt_game_url(@game)%>",
        dataType: "json",
        type: "DELETE"
      });
    }
  });

  window.setInterval(function(){
    $.getJSON("<%= njt_game_url(@game)%>", function(gameData){
      if (gameData.players.length == 2) {
        skipDeleteCall = true;
        window.location = "<%= njt_game_url(@game)%>";
      }
    });
  }, 5000);
});
</script>