<footer class="layout group">
  <small class="copy">Games and site &copy; 2012-<%= Time.new.year %> Ethan Dickinson</small>
  <small class="feedback"><a href="#">Leave anonymous feedback</a></small>
</footer>
